# Project exclude paths
/chapter01/target/
/chapter02/target/
/chapter03/target/
/chapter04/target/
/chapter05/target/
/chapter06/target/
/chapter07/target/
/chapter08/target/
/chapter09/target/
/chapter10/target/
/chapter11/target/
/chapter12/target/
/chapter13/target/
/common/target/
/pfbg-allinone/target/
/techbuzz/target/